[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/DeepGEMM"]
	path = 3rdparty/DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM.git
